html {
  position: relative;
  background: -webkit-linear-gradient(top left, #758afe 0%, #3f51b5 61%, #3f51b5 75%, #3f51b5 84%, #616ba2 100%);
  background: -o-linear-gradient(top left, #758afe 0%, #3f51b5 61%, #3f51b5 75%, #3f51b5 84%, #616ba2 100%);
  background: linear-gradient(to bottom right, #758afe 0%, #3f51b5 61%, #3f51b5 75%, #3f51b5 84%, #616ba2 100%);
  height: 100%;
  font-size: 15px;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  letter-spacing: -0.02px;
}

body {
  margin: 0;
  padding: 0;
}

* {
  transition: 120ms all ease-in-out;
}

.footer {
  text-align: center;
  margin-top: auto;
  color: rgba(255, 255, 255, 0.5);
  font-weight: 700;
  font-size: 0.875rem;
  text-transform: uppercase;
  position: fixed;
  width: 350px;
  left: 2rem;
  bottom: 2rem;
  padding: 1rem;
  box-sizing: border-box;
}

.footer a {
  color: rgba(255, 255, 255, 0.5);
  text-decoration: none;
}

.footer a:hover {
  color: #fff;
}

.d-flex {
  display: flex;
  align-items: center;
  margin-top: 1rem;
}

/** Portrait Mobile **/

@media (max-width: 576px) and (orientation:portrait) {
  html {
    font-size: 14px;
  }
  .footer {
    width: auto;
    right: 0;
    left: 0;
    bottom: 0;
    background: #004BC8;
    padding: 1rem;
  }
}

/** Landscape view mobile & tablets **/

@media (max-width: 992px) and (orientation:landscape) {
  .footer {
    left: 0;
    bottom: 0;
  }
}
